In [15]:
'''Assign values to variables:

    Create a variable age and assign your age to it.

    Create a variable pi and assign the value 3.14159.

    Create a variable city and assign the name of your city.

Simple operations:

    Add age and pi.

    Multiply the string city by 2. What’s the output?

Check variable types:

    Use type() to check the data type of each variable: age, pi, city.

Convert and print:

    Convert pi to an integer.

    Convert age to a string.

    Print a sentence like: "I am " + str(age) + " years old."

'''

'Assign values to variables:\n\n    Create a variable age and assign your age to it.\n\n    Create a variable pi and assign the value 3.14159.\n\n    Create a variable city and assign the name of your city.\n\nSimple operations:\n\n    Add age and pi.\n\n    Multiply the string city by 2. What’s the output?\n\nCheck variable types:\n\n    Use type() to check the data type of each variable: age, pi, city.\n\nConvert and print:\n\n    Convert pi to an integer.\n\n    Convert age to a string.\n\n    Print a sentence like: "I am " + str(age) + " years old."\n\n'

In [1]:
age = 38
pi = 3.14159
city = "london"

age_pi = age + pi
print(age_pi)

41.14159

In [3]:
multiply = city * 2
print(multiply)

londonlondon

In [5]:
type(age)
type(pi)

float

In [7]:
type(age)

int

In [9]:
type(city)

str

In [21]:
pi = int(pi)
print(pi)

3

In [25]:
age = str(age)
print(type(age))

<class 'str'>

In [27]:
print("I am " + str(age) + " years old.")

I am 38 years old.